
.container {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  margin: 0;
}

.video-player {
  position: relative;
  width: 100%;
}

video {
  width: 100%;
  height: auto;
}

.controls {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 10px 0;
}

.controls button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.controls button:hover {
  background-color: #777;
}

.video-info {
  padding: 20px;
}

.video-info h1 {
  font-size: 18px;
  margin: 0;
  padding-bottom: 10px;
}

.video-info .title {
  color: #666;
  font-size: 14px;
}

.video-info .description{
  border: 1px solid rgb(230, 230, 230);
  padding: 10px;
  background-color: #f3f3f3;
  font-size: 13px;
}